# Core functionality - changes here should be rare!
/src/app.py                   @volodymyrbezuglyy
/src/backend/database.py      @volodymyrbezuglyy
/src/backend/routers/auth.py  @volodymyrbezuglyy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @volodymyrbezuglyy
